<button
  id="hs-table-dropdown-1"
  type="button"
  class="hs-dropdown-toggle py-1.5 px-2 inline-flex justify-center items-center gap-2 rounded-lg text-gray-700 align-middle disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:text-neutral-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
  aria-haspopup="menu"
  aria-expanded="false"
  aria-label="Dropdown"
>
  <img
    class="shrink-0 size-4"
    src="../../../../../../../assets/svg/icon-options.svg"
    alt="icon opction"
  />
</button>
