.bg-fondo-header {
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  border: none;
}

.fill-bg-fondo {
  fill: #fff;
}


form select {
  height: 2.5rem;
  background-color: #f7f7f7;
  border: none;
}
