.bg-fondo-header {
  background-image: url('../../../../../../../assets/images/bg_fondo.webp');
  /* background-image: url("/db-inventory-gestor/browser/assets/images/bg_fondo.webp"); */
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  border: none;
}

.fill-bg-fondo {
  fill: #fff;
}


form select {
  height: 3.5rem;
  background-color: #f7f7f7;
  border: none;
}

input {
  height: 3.5rem;
}
