<!-- Modal -->
<div
  class="modal fade"
  id="modalRegistroUsuario"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content flex">
      <div class="modal-header bg-fondo-header">
        <div
          class="relative overflow-hidden min-h-[auto] text-center rounded-t-xl px-8"
        >
          <h2 class="text-2xl m-0 font-bold text-[#3b82f6]">
            Usu<span class="text-[#3b82f6]">arios</span>
          </h2>
        </div>
        <button
          (click)="cerrarRegistro()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="guardarUsuario()" [formGroup]="formularioRegistro">
          <!-- Section -->
          <div
            class="px-8 py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200"
          >
            <label
              for="af-payment-billing-contact"
              class="inline-block text-sm font-medium mb-3"
            >
              Datos generales
            </label>

            <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
              <div class="sm:col-span-3">
                <label
                  for="text-empresa"
                  class="inline-block text-sm text-gray-800 mt-2.5"
                >
                  Empresa
                </label>
              </div>

              <div class="sm:col-span-9">
                <div class="sm:col-span-9">
                  <select
                    id="text-empresa"
                    formControlName="rucEmpresa"
                    [(ngModel)]="usuario.rucempresa"
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option value="" disabled selected>
                      Seleccione una empresa
                    </option>
                    @for (item of DatosEmpresas; track $index) {
                    <option [value]="item.rucempresa">
                      {{ item.rucempresa }} - {{ item.razonsocial }}
                    </option>
                    }
                  </select>
                </div>
              </div>

              <!-- End Col -->

              <div class="sm:col-span-3">
                <label
                  for="text-nombre"
                  class="inline-block text-sm text-gray-800 mt-2.5"
                >
                  Nombre
                </label>
              </div>
              <!-- End Col -->

              <div class="sm:col-span-9">
                <input
                  [(ngModel)]="usuario.nombreusuario"
                  formControlName="nombreUsuario"
                  id="text-nombre"
                  type="text"
                  class="bg-[#f7f7f7] py-2 px-3 pe-11 block w-full border-gray-200 text-sm rounded-lg focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
                  placeholder="Ingresar un nombre"
                />
              </div>
              <!-- End Col -->

              <div class="sm:col-span-3">
                <div class="inline-block">
                  <label
                    for="af-account-phone"
                    class="inline-block text-sm text-gray-800 mt-2.5"
                  >
                    Apellido
                  </label>
                </div>
              </div>
              <!-- End Col -->

              <div class="sm:col-span-9">
                <div class="sm:flex">
                  <input
                    [(ngModel)]="usuario.apellido"
                    formControlName="apellidoUsuario"
                    id="af-account-phone"
                    type="text"
                    class="bg-[#f7f7f7] py-2 px-3 pe-11 block w-full border-gray-200 text-sm rounded-lg focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
                    placeholder="Ingresa un apellido"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- End Section -->

          <div
            class="px-8 py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200"
          >
            <label
              for="af-payment-billing-address"
              class="inline-block text-sm font-medium mb-3"
            >
              Datos cuenta
            </label>

            <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
              <div class="sm:col-span-3">
                <label
                  for="text-cargo"
                  class="inline-block text-sm text-gray-800 mt-2.5"
                >
                  cargo
                </label>
              </div>
              <!-- End Col -->

              <div class="sm:col-span-9">
                <select
                  id="text-cargo"
                  formControlName="rolUsuario"
                  [(ngModel)]="usuario.cargo"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option value="" disabled selected>Seleccione un rol</option>
                  @for (item of DatosRoles; track $index) {
                  <option [value]="item.rol">
                    {{ item.rol }}
                  </option>
                  }
                </select>
              </div>

              <!-- End Col -->

              <div class="sm:col-span-3">
                <label
                  for="text-usuario"
                  class="inline-block text-sm text-gray-800 mt-2.5"
                >
                  Usuario
                </label>
              </div>
              <!-- End Col -->

              <div class="sm:col-span-9">
                <input
                  [(ngModel)]="usuario.idusuario"
                  formControlName="idUsuario"
                  id="text-usuario"
                  type="text"
                  class="bg-[#f7f7f7] py-2 px-3 pe-11 block w-full border-gray-200 text-sm rounded-lg focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
                  placeholder="Ingresar usuario"
                />
              </div>

              <div class="sm:col-span-3">
                <label
                  for="text-contrasenia"
                  class="inline-block text-sm text-gray-800 mt-2.5"
                >
                  contraseña
                </label>
              </div>
              <!-- End Col -->

              <div class="sm:col-span-9">
                <input
                  [disabled]="!formularioRegistro.valid"
                  [(ngModel)]="usuario.contrasenia"
                  formControlName="contraseniaUsuario"
                  id="text-contrasenia"
                  type="text"
                  class="bg-[#f7f7f7] py-2 px-3 pe-11 block w-full border-gray-200 text-sm rounded-lg focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
                  placeholder="Ingresar contraseña"
                />
              </div>
            </div>
          </div>
          <!-- End Section -->

          <div class="modal-footer">
            <button
              (click)="cerrarRegistro()"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              [disabled]="
                !formularioRegistro.controls['rucEmpresa'].valid ||
                !formularioRegistro.controls['idUsuario'].valid ||
                !formularioRegistro.controls['nombreUsuario'].valid ||
                !formularioRegistro.controls['apellidoUsuario'].valid ||
                !formularioRegistro.controls['rolUsuario'].valid ||
                !formularioRegistro.controls['contraseniaUsuario'].valid
              "
              type="submit"
              class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
