<!-- Card Section -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-1 gap-4 sm:gap-6">
    <!-- Card -->
    <div
      class="p-4 w-full md:p-5 min-h-[410px] flex flex-col bg-white border shadow-sm rounded-xl "
    >
      <!-- Header -->
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-sm text-gray-500 dark:text-neutral-500">Inventarios registrados</h2>
          <p
            class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200"
          >
            {{cantidadInventariosTotal}}
          </p>
        </div>

        <div>
          <span
            class="py-[5px] px-1.5 inline-flex items-center gap-x-1 text-xs font-medium rounded-md bg-teal-100 text-teal-800 dark:bg-teal-500/10 dark:text-teal-500"
          >

            Todos los estados
          </span>
        </div>
      </div>
      <!-- End Header -->

      <diagrama-ondas-dashboard />
    </div>
    <!-- End Card -->
  </div>
</div>

<!--

<div class="container_dashboard_inicial w-full flex p-4 gap-4">
  <div class="container_apartado_izquierdo w-[100rem] flex flex-col gap-3">
    <div class="container_grafico_inventarios w-full  bg-white">
      <diagrama-ondas-dashboard  />
    </div>
    <div class="container_graficos_secudarios flex h-[auto] gap-3">
      <div class="container_grafico_codigobarras">
        <section-cantidadregistro-inventarios class="altura" />
      </div>
      <div class="container_grafico_circular ">
        <diagrama-circular-dashboard />
      </div>
    </div>
  </div>
</div> -->
