
.container-matmenu{
  padding: .5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.container-matmenu h3 {
  margin-bottom: 0;
  color: #0158DD;
}

.container-matmenu hr {
  margin-bottom: .5rem;
}

