<h1>RELACIONA TUS COLUMNAS</h1>
<mat-tab-group>
  <mat-tab label="Datos principales">
    <div class="p-4">
      @for (key of Object.keys(columnasEsperadas).slice(0, 6); track key) {
        <div class="flex gap-4 items-center mb-2">
          <label for="matcher-column_primary" class="w-[15rem] text-right text-gray-600 font-medium">
            {{ columnasEsperadas[key] }}:
          </label>
          <select
            id="matcher-column_primary"
            [(ngModel)]="selectedColumns[key]"
            class="w-full p-2 border rounded-md bg-gray-100"
          >
            <option value="">Seleccionar columna</option>
            @for (col of columnasExcel; track col) {
              <option [value]="col">{{ col }}</option>
            }
          </select>
        </div>
      }
    </div>
  </mat-tab>

  <mat-tab label="Datos Secundarios">
    <div class="p-4">
      @for (key of Object.keys(columnasEsperadas).slice(6); track key) {
        <div class="flex gap-4 items-center mb-2">
          <label for="matcher-column_secondary" class="w-[15rem] text-right text-gray-600 font-medium">
            {{ columnasEsperadas[key] }}:
          </label>
          <select
            id="matcher-column_secondary"
            [(ngModel)]="selectedColumns[key]"
            class="w-full p-2 border rounded-md bg-gray-100"
          >
            <option value="">Seleccionar columna</option>
            @for (col of columnasExcel; track col) {
              <option [value]="col">{{ col }}</option>
            }
          </select>
        </div>
      }
    </div>
  </mat-tab>
</mat-tab-group>

<!-- Botones de acción -->
<div class="flex justify-end gap-2 mt-4">
  <button
    (click)="cancelarSeleccion()"
    class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600"
  >
    Cancelar
  </button>
  <button
    (click)="confirmarSeleccion()"
    class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
  >
    Confirmar
  </button>
</div>
