<div class="relative overflow-hidden">
  <div class="h-[100vh] pt-7 bg-fondo-login grid place-content-center">
    <div class="container flex justify-center items-center gap-20">
      <div
        class="hidden md:block md:end-0 flex-1 max-w-md mx-auto m-7 rounded-xl shadow-sm dark:bg-neutral-900 dark:border-neutral-700 lg:max-w-lg"
      >
      <apartado-izquierdo />
    </div>

      <div
        class="md:flex-[0.6] lg:flex-[0.6] flex-1 max-w-md mx-auto m-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-neutral-900 dark:border-neutral-700 lg:max-w-lg"
      >
        <div class="mt-0">
          <apartado-derecho />
        </div>
      </div>
    </div>
  </div>
</div>
