<div class="max-w-[100rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-4 mx-auto">
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div
          class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-neutral-900 dark:border-neutral-700"
        >
          <header-table-carga-inventario
          />

          @if (mostrarRefrescoPagina == true) {
          <mensaje-error-lista />
          }@else {
          <table
            class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700"
          >
            <thead class="bg-gray-50 dark:bg-neutral-900">
              <tr>
                <th scope="col" class="ps-6 py-3 text-start">
                  <!-- <label for="hs-at-with-checkboxes-main" class="flex">
                    <input
                      type="checkbox"
                      class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                      id="hs-at-with-checkboxes-main"
                    />
                    <span class="sr-only">Checkbox</span>
                  </label> -->
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <th-table-carga-inventario
                    [descripcion]="'Descripción'"
                    [ordenar]="'descripcion'"
                    [icon] = "true"
                    (ordenarDatos)="ordenarPor('descripcion')"
                  />
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <th-table-carga-inventario
                    [descripcion]="'Usuario'"
                    [ordenar]="'usuariocreacion'"
                    [icon] = "true"
                    (ordenarDatos)="ordenarPor('usuariocreacion')"
                  />
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <th-table-carga-inventario
                    [descripcion]="'Estado'"
                    [ordenar]="'estado'"
                    [icon] = "true"
                    (ordenarDatos)="ordenarPor('estado')"
                  />
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <th-table-carga-inventario
                    [descripcion]="'Fecha registro'"
                    [ordenar]="'fechacarga'"
                    [icon] = "true"
                    (ordenarDatos)="ordenarPor('fechacarga')"
                  />
                </th>

                <th scope="col" class="px-6 py-3 text-start">
                  <th-table-carga-inventario
                  [descripcion]="'Detalle'"
                  [icon] = "false"
                  />
                </th>

                <th scope="col" class="px-6 py-3 text-end"></th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
              @for (item of datosInventarioslista | paginate: { itemsPerPage:
              10, currentPage: p }; track $index;) {
              <tr>
                <td class="size-px whitespace-nowrap">
                  <!-- <div class="ps-6 py-3">
                    <label for="hs-at-with-checkboxes-1" class="flex">
                      <input
                        type="checkbox"
                        class="shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                        id="hs-at-with-checkboxes-1"
                      />
                      <span class="sr-only">Checkbox</span>
                    </label>
                  </div> -->
                </td>

                <td class="size-px whitespace-nowrap">
                  <td-table-descripcion [descripcion]="item.descripcion" />
                </td>
                <td class="size-px whitespace-nowrap">
                  <td-table-usuario-creador
                    [descripcion]="item.usuariocreacion.toUpperCase()"
                  />
                </td>
                <td class="size-px whitespace-nowrap">
                  <td-estado-carga-inventario [estado]="item.estado" />
                </td>
                <td class="size-px whitespace-nowrap">
                  <td-table-fecha [descripcion]="item.fechacarga" />
                </td>
                <td class="size-px whitespace-nowrap">
                  <td-table-btn-detalle
                    [idcarga]="item.idcarga"
                    [rucempresa]="item.rucempresa"
                    (obtenerDetalle)="
                      ObtenerDetalleInventarios(
                        $event.rucempresa,
                        $event.idcarga
                      )
                    "
                  />
                </td>
                <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-1.5">
                    <div
                      class="hs-dropdown [--placement:bottom-right] relative inline-block"
                    >
                      <button
                        id="hs-table-dropdown-1"
                        type="button"
                        class="hs-dropdown-toggle py-1.5 px-2 inline-flex justify-center items-center gap-2 rounded-lg text-gray-700 align-middle disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:text-neutral-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                        aria-haspopup="menu"
                        aria-expanded="false"
                        aria-label="Dropdown"
                      >
                        <img
                          class="shrink-0 size-4"
                          src="../../../../../../../assets/svg/icon-options.svg"
                          alt="icon opction"
                        />
                      </button>
                      <div
                        aria-hidden="true"
                        class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden divide-y divide-gray-200 min-w-40 z-10 bg-white shadow-2xl rounded-lg p-2 mt-2 dark:divide-neutral-700 dark:bg-neutral-800 dark:border dark:border-neutral-700"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="hs-table-dropdown-1"
                      >
                        <div class="py-2 first:pt-0 last:pb-0">
                          <opcion-table-asignar-usuario
                            [idcarga]="item.idcarga"
                            [rucempresa]="item.rucempresa"
                            (obtenerDetalle)="
                              ObtenerDetatosInventarios(
                                $event.rucempresa,
                                $event.idcarga
                              )
                            "
                          />
                        </div>
                        <div class="py-2 first:pt-0 last:pb-0">
                          <a
                            class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-red-600 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-red-500 dark:hover:bg-neutral-700"
                            href="#"
                          >
                            Eliminar
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
          }

          <!-- Footer -->
          <div
            class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-neutral-700"
          >
            <div>
              <p class="text-sm text-gray-600 dark:text-neutral-400">
                <span
                  class="font-semibold text-gray-800 dark:text-neutral-200"
                  >{{ itemsPerPageProductos }}</span
                >
                Inventarios
              </p>
            </div>

            <div>
              <div class="inline-flex gap-x-2">
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>
  </div>
</div>

<footer-general />

<detalle-carga-inventarios
  [citaSeleccionada]="datosInventario"
  [detalleProductos]="listaProductos"
  [cantidadInventarios]="cantidadListaProductos"
/>

<modal-asignacion
  [rucEmpresa]="datosInventario.rucempresa"
  [idCarga]="datosInventario.idcarga"
  [getUsuarios_All]="getUsuarios_All"
/>
