<div class="max-w-[100rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-4 mx-auto">
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div
          class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-neutral-900 dark:border-neutral-700"
        >
          <header-table-carga-inventario />

          @if (mostrarRefrescoPagina == true) {
          <mensaje-error-lista />
          }@else {
          <table
            class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700"
          >
            <thead class="bg-gray-50 dark:bg-neutral-900">
              <tr>
                @for (item of encabezadoTable; track $index) {
                  <th scope="col" class="px-6 py-3 text-start">
                    <th-table-carga-inventario
                      [descripcion]="item.title"
                      [ordenar]="item.ordenar"
                      [icon]="item.icon"
                      (ordenarDatos)="ordenarPor('descripcion')"
                    />
                  </th>
                }
                <th scope="col" class="px-6 py-3 text-end"></th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
              @for (item of datosInventarioslista | paginate: { itemsPerPage:
              10, currentPage: p }; track $index;) {
              <tr>
                <td class="size-px whitespace-nowrap">
                  <td-table-descripcion [descripcion]="item.descripcion" />
                </td>
                <td class="size-px whitespace-nowrap">
                  <td-table-usuario-creador
                    [descripcion]="item.usuariocreacion.toUpperCase()"
                  />
                </td>
                <td class="size-px whitespace-nowrap">
                  <td-estado-carga-inventario [estado]="item.estado" />
                </td>
                <td class="size-px whitespace-nowrap">
                  <td-table-fecha [descripcion]="item.fechacarga" />
                </td>
                <td class="size-px whitespace-nowrap">
                  <td-table-btn-detalle
                    [idcarga]="item.idcarga"
                    [rucempresa]="item.rucempresa"
                    (obtenerDetalle)="
                      ObtenerDetalleInventarios(
                        $event.rucempresa,
                        $event.idcarga
                      )
                    "
                  />
                </td>
                <td class="size-px whitespace-nowrap">
                  <div class="px-6 py-1.5">
                    <div
                      class="hs-dropdown [--placement:bottom-right] relative inline-block"
                    >
                      <button-ver-opciones-dropdown-carga-inventario />
                      <div
                        aria-hidden="true"
                        class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden divide-y divide-gray-200 min-w-40 z-10 bg-white shadow-2xl rounded-lg p-2 mt-2 dark:divide-neutral-700 dark:bg-neutral-800 dark:border dark:border-neutral-700"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="hs-table-dropdown-1"
                      >
                        <div class="py-2 first:pt-0 last:pb-0">
                          <opcion-table-asignar-usuario
                            [idcarga]="item.idcarga"
                            [rucempresa]="item.rucempresa"
                            (obtenerDetalle)="
                              ObtenerDetatosInventarios(
                                $event.rucempresa,
                                $event.idcarga
                              )
                            "
                          />
                        </div>
                        <div class="py-2 first:pt-0 last:pb-0">
                          <a
                            class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-red-600 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-red-500 dark:hover:bg-neutral-700"
                            href="#"
                          >
                            Eliminar
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
          }

          <!-- Footer -->
          <div
            class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-neutral-700"
          >
            <div>
              <p class="text-sm text-gray-600 dark:text-neutral-400">
                <span
                  class="font-semibold text-gray-800 dark:text-neutral-200"
                  >{{ datosInventarioslista.length }}</span
                >
                Inventarios
              </p>
            </div>

            <div>
              <div class="inline-flex gap-x-2">
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>
  </div>
</div>

<footer-general />

<detalle-carga-inventarios
  [citaSeleccionada]="datosInventario"
  [detalleProductos]="listaProductos"
  [cantidadInventarios]="cantidadListaProductos"
/>

<modal-asignacion
  [rucEmpresa]="datosInventario.rucempresa"
  [idCarga]="datosInventario.idcarga"
  [getUsuarios_All]="getUsuarios_All"
/>
