<!-- ========== START - HEADER ========== -->
<header class="sticky h-[4rem] top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-[48] w-full bg-white text-sm py-2.5 lg:ps-[260px] ">
  <nav class="px-4 sm:px-6 flex basis-full items-center w-full mx-auto">
    <div class="me-5 lg:me-0 lg:hidden">
      <a class="flex-none rounded-md text-xl  no-underline font-semibold" aria-label="Preline">
        <h3 class="md:flex-1"> <span>TIPO USUARIO</span></h3>
      </a>

      <div class="lg:hidden ms-1">

      </div>
    </div>

    <div class="w-full flex items-center justify-end ms-auto md:justify-between gap-x-1 md:gap-x-3">

      <div class="hidden lg:block">
        <h3 class="flex flex-row items-center justify-end gap-1"> <span>TIPO USUARIO</span></h3>
      </div>

      <div class="md:block">
        <div class="relative">
            <!-- REGISTRAR TIPO USUARIO -->
        </div>
      </div>

    </div>
  </nav>
</header>
<!-- ========== END - HEADER ========== -->

<div class="w-full lg:ps-64">
  <div class="w-full lg:ps-0 bg-fondo-datos">
    <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
      <section>
        <div class="max-w-[100rem] py-10 lg:py-4 mx-auto">
          <div class="flex flex-col">
            <div class="-m-1.5 overflow-x-auto">
              <div class="p-1.5 min-w-full inline-block align-middle">
                <div
                  class="bg-white border border-gray-200 rounded-xl overflow-hidden "
                >
                @if (DatosRoles()) {
                  <app-table-lista-tipo-usuario [DatosRoles]="DatosRoles()"/>
                }

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
