<!-- Table Section -->
<div class="max-w-[95rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-4 mx-auto">
  <!-- Card -->
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div
          class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-neutral-900 dark:border-neutral-700"
        >
        <tabla-inventarios-asignados />
        </div>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Table Section -->



<!-- ESTOS COMPOENNTES DEBERIAN IR DENTRO DE LA TABLA PARA SU DETALLE -->
<!-- Modal detalle inventario -->
<!-- <detalle-carga-inventarios
  [citaSeleccionada]="datosInventario"
  [detalleProductos]="listaProductos"
  [cantidadInventarios]="cantidadListaProductos"
/> -->


<!-- <registro-asignar-page
  [getUsuarios_All]="getUsuarios_All"
  [rucEmpresa]="datosInventario.rucempresa"
  [idCarga]="datosInventario.idcarga"
/> -->
