<div
  class="modal fade"
  id="modalRegistoEmpresas"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header h-32 bg-fondo-header">
        <h2 class="mt-8 text-4xl font-bold text-center text-white">
          Emp<span class="text-[#00D1AE]">resa</span>
        </h2>
        <button
          (click)="onCancel()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div>
        <label class="sr-only"> Product photo </label>
        <div class="flex flex-col sm:flex-row sm:items-center sm:gap-x-5">
          <img
            class="-mt-8 relative z-10 inline-block size-24 mx-auto sm:mx-0 rounded-full ring-4 ring-white"
            src="https://preline.co/assets/img/160x160/img1.jpg"
            alt="Avatar"
          />
        </div>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="guardarEmpresa()" [formGroup]="formularioRegistro">
          <mat-tab-group>
            <mat-tab label="DGENERALES">
              <div class="mt-0 space-y-3 px-4 pt-6">
                <div class="flex gap-3 rucempresa">
                  <mat-form-field class="w-full">
                    <mat-label>RUC EMPRESA</mat-label>
                    <input
                      formControlName="rucEmpresa"
                      [(ngModel)]="Empresa.rucempresa"
                      matInput
                      placeholder="Ingresar Ruc"
                    />
                  </mat-form-field>
                  <button
                    type="button"
                    mat-fab
                    aria-label="Example icon button with a delete icon"
                  >
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                <mat-form-field class="w-full">
                  <mat-label>RAZON SOCIAL</mat-label>
                  <input
                    formControlName="razonSocial"
                    [(ngModel)]="Empresa.razonsocial"
                    matInput
                    placeholder="Ingresar Razon social"
                  />
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="CONTACTO">
              <div class="mt-0  rounded-xl px-4 pt-6">
                <mat-form-field class="w-full">
                  <mat-label>TELEFONO</mat-label>
                  <input
                    formControlName="telefonoEmpresa"
                    [(ngModel)]="Empresa.telefono"
                    matInput
                    placeholder="Ingresar Teléfono"
                  />
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="DIRECCION">
              <div class="mt-0  rounded-xl px-4 pt-6">
                <mat-form-field class="w-full">
                  <mat-label>DIRECCIÓN</mat-label>
                  <input
                  formControlName="direccionEmpresa"
                  [(ngModel)]="Empresa.direccion"
                    matInput
                    placeholder="Ingresar dirección"
                  />
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>




          <div class="modal-footer mt-3">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="onCancel()"
            >
              Close
            </button>
            <button
              type="submit"
              [disabled]="!formularioRegistro.valid"
              class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
