.bg-fondo-header {
  background-image: url('../../../../../../../assets/images/bg_fondo.webp');
  /* background-image: url("/db-inventory-gestor/browser/assets/images/bg_fondo.webp"); */
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  border: none;
}

.fill-bg-fondo {
  fill: #fff;
}

.rucempresa button {
  background-color: #00D1AE;
  border-radius: 10px;
}
