<header-page-asignar />
@if (mostrarRefrescoPagina == true) {
<mensaje-error-tabla-datos-asignar (recargar)="recargarPagina()" />
}@else {
<table class="min-w-full divide-y divide-gray-200 ">
  <thead class="bg-gray-50 dark:bg-neutral-900">
    <tr>
      <th scope="col" class="px-6 py-3 text-start">
        <th-table-asignar [descripcion]="'Descripcion'" />
      </th>

      <th scope="col" class="px-6 py-3 text-start">
        <th-table-asignar [descripcion]="'Usuario Asignado'" />
      </th>

      <th scope="col" class="px-6 py-3 text-start">
        <th-table-asignar [descripcion]="'Detalle'" />
      </th>

      <th scope="col" class="px-6 py-3 text-start">
        <th-table-asignar [descripcion]="'Estado'" />
      </th>

      <th scope="col" class="px-6 py-3 text-end"></th>
    </tr>
  </thead>

  <tbody class="divide-y divide-gray-200 ">
    @for (item of datosInventariosFiltradoslista | paginate: { itemsPerPage: itemsPerPage,
    currentPage: p }; track $index;) {
    <tr>
      <td class="size-px whitespace-nowrap">
        <td-descripcion-asignar [descripcion]="item.Descripcion" />
      </td>
      <td class="size-px whitespace-nowrap">
        <td-usuario-asignar [usuario]="item.usuarioAsignado" />
      </td>
      <td class="size-px whitespace-nowrap">
        <td-table-btn-detalle
        [idcarga]="item.idcarga"
        [rucempresa]="item.rucempresa"
        (obtenerDetalle)="
          ObtenerDetalleInventarios($event.rucempresa, $event.idcarga)
        "
      />
      </td>
      <td class="size-px whitespace-nowrap">
        <td-estado-asignar [estado]="item.estado" />
      </td>
      <td class="size-px whitespace-nowrap">
        <div class="px-6 py-1.5">
          <div
            class="hs-dropdown [--placement:bottom-right] relative inline-block"
          >
            <div class="dropdown">
              <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></button>
              <ul class="dropdown-menu">
                <button
                  (click)="
                    ObtenerDetatosInventarios(item.rucempresa, item.idcarga)
                  "
                  class="w-full"
                  title="none"
                  type="button"
                  aria-haspopup="dialog"
                  aria-expanded="false"
                  data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                >
                  @if (item.usuarioAsignado == "" || item.UsuarioAsignado ==
                  null ) { Asignar } @if (item.usuarioAsignado != "" &&
                  item.UsuarioAsignado != null) { Cambiar asignado }
                </button>
              </ul>
            </div>
          </div>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
}

<div
  class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-neutral-700"
>
<div>
  <div class="inline-flex gap-x-2">
    <div class="input-group mb-2">
      <div class="dropdown mr-4">
        <select class="form-select" (change)="onItemsPerPageChange($event)" aria-label="Default select example">
          <option value="" disabled selected>
            Ítems
          </option>
          <option value="5">5</option>
          <option selected value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>
      <div class="flex items-center justify-center">
        <pagination-controls
        (pageChange)="p = $event"
      ></pagination-controls>
      </div>

    </div>

  </div>
</div>
</div>

<footer-general />

<detalle-carga-inventarios
  [citaSeleccionada]="datosInventario"
  [detalleProductos]="listaProductos"
  [cantidadInventarios]="cantidadListaProductos"
/>

<registro-asignar-page
  [rucEmpresa]="datosInventario.rucempresa"
  [idCarga]="datosInventario.idcarga"
  [getUsuarios_All]="getUsuarios_All"
/>
