<table class="min-w-full divide-y divide-gray-200 ">
  <thead class="bg-gray-50 dark:bg-neutral-900">
    <tr>
      @for (item of encabezadoTable; track $index) {
      <th scope="col" class="px-6 py-3 text-start">
        <th-table-carga-inventario
          [descripcion]="item.title"
          [ordenar]="item.ordenar"
          [icon]="item.icon"
          (ordenarDatos)="ordenarPor('descripcion')"
        />
      </th>
      }
      <th scope="col" class="px-6 py-3 text-end"></th>
    </tr>
  </thead>

  <tbody class="divide-y divide-gray-200 ">
    @for (item of datosInventarioslista; track $index;) {
    <tr>
      <td class="size-px whitespace-nowrap">
        <td-table-descripcion [descripcion]="item.descripcion" />
      </td>
      <td class="size-px whitespace-nowrap">
        <td-table-usuario-creador
          [descripcion]="item.usuariocreacion.toUpperCase()"
        />
      </td>
      <td class="size-px whitespace-nowrap">
        <td-estado-carga-inventario [estado]="item.estado" />
      </td>

      <td class="size-px whitespace-nowrap">
        <td-table-btn-detalle
          [idcarga]="item.idcarga"
          [rucempresa]="item.rucempresa"
          (obtenerDetalle)="
            ObtenerDetalleInventarios($event.rucempresa, $event.idcarga)
          "
        />
      </td>
      <td class="size-px whitespace-nowrap">
        <div class="px-6 py-1.5">
          <div
            class="hs-dropdown [--placement:bottom-right] relative inline-block"
          >
            <div class="dropdown">
              <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              </button>
              <ul class="dropdown-menu">
                <div class="flex flex-col">
                  <agregar-producto />
                  <opcion-table-asignar-usuario
                    [idcarga]="item.idcarga"
                    [rucempresa]="item.rucempresa"
                    (obtenerDetalle)="
                      ObtenerDetatosInventarios($event.rucempresa, $event.idcarga)
                    "
                  />
                </div>

              </ul>
            </div>
          </div>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>

<!-- Footer -->
<div
  class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 "
>
  <div>
    <p class="text-sm text-gray-600">
      <span class="font-semibold text-gray-800">{{
        datosInventarioslista.length
      }}</span>
      Inventarios
    </p>
  </div>
</div>

<footer-general />

<detalle-carga-inventarios
  [citaSeleccionada]="datosInventario"
  [detalleProductos]="listaProductos"
  [cantidadInventarios]="cantidadListaProductos"
/>

<registro-asignar-page
  [rucEmpresa]="datosInventario.rucempresa"
  [idCarga]="datosInventario.idcarga"
  [getUsuarios_All]="getUsuarios_All"
/>

<registro-producto-new-inventario />
