<!-- =================================================================================== -->
<!-- Apartado filtros -->
<!-- =================================================================================== -->
<div class="container">
  <mat-form-field class="w-[20rem]">
    <mat-label>Buscar inventario</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ingresar descripción"
      #input
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort>
  <!-- =================================================================================== -->
  <!-- Descripción -->
  <!-- =================================================================================== -->
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
    <td mat-cell *matCellDef="let row">
      <button class="px-6 py-3 flex gap-2 align-center">
        <img src="../../../../../../assets/svg/icon_excel.svg" alt="" />
        <span class="text-sm text-gray-600 dark:text-neutral-400">
          {{ row.descripcion.toUpperCase() }}
        </span>
      </button>
    </td>
  </ng-container>

  <!-- =================================================================================== -->
  <!-- Usuario -->
  <!-- =================================================================================== -->
  <ng-container matColumnDef="usuariocreacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario creador</th>
    <td mat-cell *matCellDef="let row">
      <button class="usuariocreador" class="px-6 py-3 flex gap-2 align-center">
        <mat-icon >person</mat-icon>
        <span class="text-sm text-gray-600 dark:text-neutral-400">
          {{ row.usuariocreacion.toUpperCase() }}
        </span>
      </button>
    </td>
  </ng-container>

  <!-- =================================================================================== -->
  <!-- Estado -->
  <!-- =================================================================================== -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
    <td mat-cell *matCellDef="let row">
      <td-estado-carga-inventario [estado]="row.estado" />
    </td>
  </ng-container>

  <!-- =================================================================================== -->
  <!-- Detalle -->
  <!-- =================================================================================== -->
  <ng-container matColumnDef="detalle">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle</th>
    <td mat-cell *matCellDef="let row">
      <td-table-btn-detalle
        [idcarga]="row.idcarga"
        [rucempresa]="row.rucempresa"
        (obtenerDetalle)="
          ObtenerDetalleInventarios($event.rucempresa, $event.idcarga)
        "
      />
    </td>
  </ng-container>

  <!-- =================================================================================== -->
  <!-- Asignación -->
  <!-- =================================================================================== -->
  <ng-container matColumnDef="asignacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Asignación</th>
    <td mat-cell *matCellDef="let row">
      <mat-menu #menu="matMenu">
        <div class="container-matmenu">
          <h3>Opciones</h3>
          <hr>
          <button-producto  class="w-full"/>
          <button-asignar  class="w-full" [idcarga]="row.idcarga"
          [rucempresa]="row.rucempresa"
          (obtenerDetalle)="
            ObtenerDetatosInventarios($event.rucempresa, $event.idcarga)
          "/>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu">
        <img src="../../../../../../assets/svg/icon-options.svg" alt="" />
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- =================================================================================== -->
<!-- PAGINACIÓN INVENTARIO -->
<!-- =================================================================================== -->
<mat-paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page of users"
/>

<!-- =================================================================================== -->
<!-- DETALLE INVENTARIO -->
<!-- =================================================================================== -->
<footer-general />

<!-- =================================================================================== -->
<!-- DETALLE INVENTARIO -->
<!-- =================================================================================== -->
<detalle-carga-inventarios
  [citaSeleccionada]="datosInventario"
  [detalleProductos]="listaProductos"
  [cantidadInventarios]="cantidadListaProductos"
/>

<!-- =================================================================================== -->
<!-- ASIGNAR INVENTARIO -->
<!-- =================================================================================== -->
<registro-asignar-page
  [rucEmpresa]="datosInventario.rucempresa"
  [idCarga]="datosInventario.idcarga"
  [getUsuarios_All]="getUsuarios_All"
/>

<!-- =================================================================================== -->
<!-- REGISTRO NUEVO PRODUCTO -->
<!-- =================================================================================== -->
<registro-producto-new-inventario />
