<li>
  <a class="item_container no-underline" [routerLink]="route">
    <picture class="container_bg_imagen">
      <img
        [src]="imagen"
        alt=""
      />
      <div class="filter_imagen">
        <div class="contaiener_svg">
          <img src="../../../../../../../assets/svg/icon-search.svg" alt="search">
          <!-- <img src=" /db-inventory-gestor/browser/assets/svg/icon-search.svg" alt="search"> -->
        </div>
      </div>
    </picture>
    <picture>
      <img src="../../../../../../../assets/svg/icon-linea-logo.svg" alt="search">
      <!-- <img src=" /db-inventory-gestor/browser/assets/svg/icon-linea-logo.svg" alt="search"> -->
    </picture>
    <p class="Nombre_button">{{ name }}</p>
    <div class="filter-item"></div>
  </a>
</li>


