
.container_opciones {
  width: 100%;
  height: auto;
  display: grid;
  place-content: center;
  padding: 1rem 0;
}


ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}


