<img src="../../../../../../assets/svg/icon-logo-DbInventory.svg" alt="" />

<h2 class="text-4xl p-2 text-gray-100 text-left">
  Haz tus
  <span class="text-decoration">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="190"
      height="24"
      viewBox="0 0 190 5"
      fill="none"
    >
      <rect width="190" height="24" rx="1" fill="#00D1AE"></rect></svg
    ><span class="rslt-text">inventarios</span>
  </span>
  más dinámicos y flexibles
</h2>
<p class="text-white mt-4">
  Adapta tu Estrategia Logística a los nuevos retos digitales​
</p>
<button
  class="mt-5 border-2 px-5 py-1 text-gray-100 rounded-md hover:text-[#00D1AE] hover:border-[#00D1AE]"
>
  DB PERU
</button>
