<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Rol">
      <th mat-header-cell *matHeaderCellDef class="mat-primary"> Rol </th>
      <td class="rol" mat-cell *matCellDef="let element">
        <button class="px-6 py-1 flex gap-2 align-center">
          <span class="text-sm text-gray-600 dark:text-neutral-400">
            {{element.rol}}
          </span>
        </button>


        </td>
    </ng-container>

    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef class="mat-accent" > Estado </th>
      <td mat-cell *matCellDef="let element">

        <div class="px-6 py-3">
          @if (element.estado == "1") {
          <td-estado-1 />
          } @if (element.estado == "2") {
          <td-estado-2 />
          } @if (element.estado != "1") {
          <td-estado-3 [estado]="'Inactivo'" />
          }
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

