.bg-filtros-tabla-inventarios {
  background-image: url("../../../../../../assets/images/bg_fondo.webp");
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.bg-fondo-datos {
  background-color: rgb(243, 243, 243);
}
