<div class="flex items-center justify-center content-center">
  <div class="flex gap-2">
    <div class="py-1 px-1.5 flex items-center gap-x-1 text-xs font-medium rounded-lg bg-[#0158DD] justify-center ">
      <p class="text-sm mb-0 uppercase tracking-wide text-gray-100">Exactos:</p>
      <h3 class="text-xs font-medium text-white mb-0">{{ceros}}</h3>
    </div>

    <div class="py-1 px-1.5 flex items-center gap-x-1 text-xs font-medium rounded-lg bg-[#00D1AE] justify-center">
      <p class="text-sm mb-0 uppercase tracking-wide text-gray-100">Sobrantes:</p>
      <h3 class="text-xs font-medium text-white mb-0">{{positivos}}</h3>
    </div>

    <div class="py-1 px-1.5 flex items-center gap-x-1 text-xs font-medium rounded-lg bg-[#20477E] justify-center">
      <p class="text-sm mb-0 uppercase tracking-wide text-gray-100">Faltantes:</p>
      <h3 class="text-xs font-medium text-white mb-0">{{negativos}}</h3>
    </div>
  </div>
</div>
