section {
  position: relative;
  /* background-color: #f5f4f4; */
}

.bg-filtros-tabla-inventarios {
  background-image: url("../../../../../../assets/images/bg_fondo.webp");
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.bg-fondo-datos {
  background-color: rgb(243, 243, 243);
}

@media (max-width: 480px) {

  header {
    display: flex;
    flex-direction: column;
  }


}
