
<div #tarjeta class="usuario-tarjeta hidden">
  <div class="bg-white w-80 shadow-md rounded-md overflow-hidden">
    <div class="flex flex-col p-4 items-center DEGRADADO">
      <h1 class="font-bold text-center text-white">INVENTORY CARD</h1>
      <!-- ACÁ COLOCAR UN QR -->
      <h3 class="text-white text-center mb-0">
        {{ usuario.nombreusuario }}
      </h3>
      <h2 class="font-bold text-white text-center text-xs mb-0">
        <strong>{{ usuario.apellido }}</strong>
      </h2>
    </div>
    <div class="p-4 bg-white flex flex-col">
      <strong class="mb-4 text-[#20477E] text-center">{{
        usuario.cargo
      }}</strong>
      <p class="bg-slate-100 h-10 p-2 rounded-md flex items-center gap-2">
        <strong>Empresa:</strong> {{ usuario.rucempresa }}
      </p>
      <p class="bg-slate-100 h-10 p-2 rounded-md flex items-center gap-2">
        <strong>Cargo:</strong> {{ usuario.idusuario }}
      </p>
      <p class="bg-slate-100 h-10 p-2 rounded-md flex items-center gap-2">
        <strong>Estado:</strong> {{ usuario.contrasenia }}
      </p>
      <span
        class="grid place-content-center text-center text-slate-600 text-xs mt-4"
        >DBINVENTORY - DB PERÚ</span
      >
    </div>
  </div>
</div>

