h1 {
  color: #20477E;
  font-weight: 700;
  font-size: .8rem;
  text-align: center;
}

.bg-fondo {
  width: 13rem;
  height: 100%;
  overflow-y: auto;

  box-sizing: border-box;
}



.bg-fondo {
  overflow-y: auto;
}

.bg-fondo::-webkit-scrollbar {
  width: 8px;
}

.bg-fondo::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.bg-fondo::-webkit-scrollbar-thumb {
  background: #00D1AE;
  border-radius: 4px;
}

.bg-fondo::-webkit-scrollbar-thumb:hover {
  background: #00b89a;
}

