h1 {
  color: #20477E;
  font-weight: 700;
  font-size: .8rem;
  text-align: center;
}

.bg-fondo {
  background: url('../../../../../../assets/images/bg_fondo.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
