h1 {
  color: #20477E;
  font-weight: 700;
  font-size: .8rem;
  text-align: center;
}

.bg-fondo {
  height: 100%;
  background: url('../../../../../../assets/images/bg_fondo.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  overflow: hidden;
}
