
<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid gap-6 grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8">
    <!-- Stats -->
    <div class="bg-white rounded-2xl p-4 box-border">
      <h4 class="text-lg sm:text-xl font-semibold text-[#0158DD]">Total Inventarios trabajados</h4>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-[#0158DD]">{{datosInventariosTrabajados}}</p>
      <p class="mt-1 text-gray-500">Procesados</p>
    </div>
    <!-- End Stats -->

    <!-- Stats -->
    <div class="bg-white rounded-2xl p-4 box-border">
      <h4 class="text-lg sm:text-xl font-semibold text-[#00D1AE]">Total inventarios</h4>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-[#00D1AE]">{{datosInventarioslista}}</p>
      <p class="mt-1 text-gray-500">Registrados para trabajarse</p>
    </div>
    <!-- End Stats -->

    <!-- Stats -->
    <div class="bg-white rounded-2xl p-4 box-border">
      <h4 class="text-lg sm:text-xl font-semibold text-[#20477E]">Total inventarios asignados</h4>
      <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-[#20477E]">{{datosInventariosAsignados}}</p>
      <p class="mt-1 text-gray-500">Asignados a un usuario en específico</p>
    </div>
    <!-- End Stats -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->
