<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          ASIGNAR INVENTARIO
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onAsignarUsuario()" [formGroup]="formularioRegistro">
          <div class="p-4 text-center overflow-y-auto">
            <div class="flex-1">
              <div
                class="mt-0 mb-5 sm:mt-10 grid grid-cols-2 sm:grid-cols-3 gap-5"
              >
                <div>
                  <span
                    class="block text-xs uppercase text-gray-500 dark:text-neutral-500"
                    >Fecha Asignación:</span
                  >
                  <span
                    class="block text-sm font-medium text-gray-800 dark:text-neutral-200"
                    >{{currentDate}}</span
                  >
                </div>

                <div>
                  <span
                    class="block text-xs uppercase text-gray-500 dark:text-neutral-500"
                    >Estado:</span
                  >
                  <span
                    class="block text-sm font-medium text-gray-800 dark:text-neutral-200"
                    >Activo</span
                  >
                </div>

                <div>
                  <span
                    class="block text-xs uppercase text-gray-500 dark:text-neutral-500"
                    >Ruc Empresa:</span
                  >
                  <span
                    class="block text-sm font-medium text-gray-800 dark:text-neutral-200"
                    >{{ rucEmpresa }}</span
                  >
                </div>
              </div>

              <div class="mb-3">
                <label for="usuarioAsignar" class="form-label">Usuario</label>
                <select
                  id="usuarioAsignar"
                  formControlName="usuario"
                  [(ngModel)]="inventario.idusuario"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option value="" disabled selected>
                    Seleccione un usuario
                  </option>
                  @for (item of getUsuarios_All; track $index) { @if
                  (item.estado == '1') {
                  <option [value]="item.idusuario">
                    {{ item.idusuario }} - {{ item.nombreusuario }}
                    {{ item.apellido }}
                  </option>
                  } }
                </select>
              </div>
            </div>
          </div>

          <div class="Buttons_eventos">
            <button
              type="button"
              class="button_cancelar"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
