<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          ASIGNAR  {{
            Inventario
          }}
        </h1>
        <button
          (click)="cerrarRegistro()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body ">
        <form
          (ngSubmit)=" validacionUsuarioAsignacion()"
          [formGroup]="formularioRegistro"
          class="p-4 text-white"
        >
          <!-- Inventario seleccionado -->
          <div class="text-center space-y-6">
            <!-- Sección de detalles -->
            <!-- Usuario Asignado -->
            <div
              class="bg-white bg-opacity-20 p-2  text-center"
            >
              <span class="block text-xs text-left font-semibold uppercase text-gray-400"
                >Asignación actual:</span
              >
              <span class="block text-left text-sm font-bold text-[#0158DD]">{{
                UsuarioAsignado || 'Sin asignación'
              }}</span>
            </div>

            <!-- Selección de usuario -->
            <div class="text-left">
              <label
                for="usuarioAsignar"
                class="block text-sm font-semibold text-white"
                >Seleccionar Usuario</label
              >
              <select
                id="usuarioAsignar"
                formControlName="usuario"
                [(ngModel)]="inventario.idusuario"
                class="w-full p-3 bg-white text-gray-800 rounded-md border-2 border-blue-400 focus:ring focus:ring-blue-300"
              >
                <option value="" disabled selected>
                  Seleccione un usuario
                </option>
                @for (item of getUsuarios_All; track $index) { @if (item.estado
                == '1') {
                <option [value]="item.idusuario">
                  {{ item.idusuario }} - {{ item.nombreusuario }}
                  {{ item.apellido }}
                </option>
                } }
              </select>
            </div>
          </div>

          <!-- Botones -->
          <div class="mt-6 flex justify-end space-x-4">
            <button
              type="button"
              class="px-5 py-2  text-gray-500 font-bold rounded-lg  "
              data-bs-dismiss="modal"
              (click)="cerrarRegistro()"
            >
              Cancelar
            </button>
            <button
              [disabled]="formularioRegistro.controls['usuario'].invalid"
              type="submit"
              class="px-5 py-2 bg-[#0158DD] text-white font-bold rounded-lg shadow-md hover:bg-green-600 transition-all disabled:bg-gray-400"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
