<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="grid sm:grid-cols-2 lg:grid-cols-2 gap-4 sm:gap-6">

    <div class="flex flex-col bg-white border shadow-sm rounded-xl">
      <div class="p-4 w-full md:p-5 flex gap-x-4">
        <canvas #barChart_inventario></canvas>
      </div>
    </div>

    <div class="flex flex-col bg-white border shadow-sm rounded-xl">
      <div class="p-4 md:p-5 flex gap-x-4">
        <canvas #barChart_usuario></canvas>
      </div>
    </div>

  </div>
</div>
