table {
  width: 100%;
}

table  th  {
  background-color: #F5F5F5;
}


.container-data {
  display: flex;
  gap: .1rem;
  align-items: center;
}

.container-data .container-icon {
  width: 2.4rem;
  height: 2.4rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  /* background-color: #20477E; */
}

.rol i {
  font-size: 1.5rem;
  color: #20477E;
}



.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: .1rem;
  background-color: #F5F5F5;
  margin: 0;
}

.container .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
