<div class="container-datos-page">
  <table
    class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700"
  >
    <thead
      class="bg-gray-50 divide-y divide-gray-200 dark:bg-neutral-800 dark:divide-neutral-700"
    >
      <tr>
        <th
          scope="col"
          class="px-3 py-3 text-start border-s border-gray-200 dark:border-neutral-700"
        >
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Almacén
          </span>
        </th>

        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Sucursal
          </span>
        </th>

        <th scope="col" class="px-3  py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Zona
          </span>
        </th>

        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Pasillo
          </span>
        </th>

        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Rack
          </span>
        </th>

        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Ubicación
          </span>
        </th>

        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Es Agrupado
          </span>
        </th>
        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Código Grupo
          </span>
        </th>
        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Código Producto
          </span>
        </th>
        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Código Barras
          </span>
        </th>
        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Descripción
          </span>
        </th>
        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Unidad
          </span>
        </th>
        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Stock L
          </span>
        </th>
        <th scope="col" class="px-3 py-3 text-start">
          <span
          class="text-[.55rem] font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200"
          >
            Stock F
          </span>
        </th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
      <tr>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>

        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>
        <td class="h-px w-auto whitespace-nowrap">
          <div class="px-3 py-2">
            <span
              class="font-semibold text-sm text-gray-800 dark:text-neutral-200"
              >195</span
            >
          </div>
        </td>


      </tr>
    </tbody>
  </table>
</div>
