.ancho {
  width: 100rem;
}

.header-detalle {
  background: #f0f0f0;
}

.header-detalle h5{
  color: #fff;
  font-size: 1rem;
}

.header-detalle p{
  color: #fff;
  font-size: 1rem;
}

.header-detalle .btn-close{
  color: #fff;
}

mat-paginator {
  position: relative;
}

.cdk-overlay-container {
  position: fixed !important;
}

.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 4056 !important;
}

.detalle-general  {
  height: calc(100vh - 20vh);
  background-color: fff;
}



.fondo .icono-logo{
  width: auto;
  height: auto;
  font-size: 3rem;
}

.boder-target {
  border: 1px solid #00D1AE;
}
