<div
  class="offcanvas offcanvas-end ancho"
  tabindex="-1"
  id="hs-detalles-inventario"
  aria-labelledby="hs-detalles-inventario"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="hs-detalles-inventario">
      {{ citaSeleccionada.descripcion }}
      @if (citaSeleccionada.estado == "1") {
        <p class="text-sm text-gray-500 dark:text-neutral-500">Activo</p>
        } @if (citaSeleccionada.estado == "2") {
        <p class="text-sm text-gray-500 dark:text-neutral-500">Inactivo</p>
        }
    </h5>

    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div
      class="sm:mt-0 grid grid-cols-2 sm:grid-cols-3 gap-5 place-items-center"
    >
      <div>
        <span
          class="block text-xs uppercase text-gray-500 "
          >Usuario Creador:</span
        >
        <span
          class="block text-sm font-medium text-gray-800 "
          >{{ citaSeleccionada.usuariocreacion }}</span
        >
      </div>
      <!-- End Col -->

      <div>
        <span
          class="block text-xs uppercase text-gray-500 "
          >Ruc:</span
        >
        <span
          class="block text-sm font-medium text-gray-800 "
          >{{ citaSeleccionada.rucempresa }}</span
        >
      </div>
      <!-- End Col -->

      <div>
        <span
          class="block text-xs uppercase text-gray-500 "
          >Fecha Registro:</span
        >
        <div class="flex items-center gap-x-2">
          <span
            class="block text-sm font-medium text-gray-800 "
            >{{ citaSeleccionada.fechacarga }}</span
          >
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->

    <!-- Detalle artículos -->

    <div class="max-w-[85rem] px-4 py-4 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <!-- Card -->
      <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div
              class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden "
            >
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                  <ng-container matColumnDef="almacen">
                    <th mat-header-cell *matHeaderCellDef>Almacen</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.almacen }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="sucursal">
                    <th mat-header-cell *matHeaderCellDef>Sucursal</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.sucursal }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="zona">
                    <th mat-header-cell *matHeaderCellDef>Zona</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.zona }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="pasillo">
                    <th mat-header-cell *matHeaderCellDef>Pasillos</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.pasillo }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="rack">
                    <th mat-header-cell *matHeaderCellDef>Rack</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.rack }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="ubicacion">
                    <th mat-header-cell *matHeaderCellDef>Ubicación</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.ubicacion }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="esagrupado">
                    <th mat-header-cell *matHeaderCellDef>Es Agrupado</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.esagrupado }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="codgrupo">
                    <th mat-header-cell *matHeaderCellDef>Cod. Grupo</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.codigogrupo }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="codigoproducto">
                    <th mat-header-cell *matHeaderCellDef>Cod. Producto</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.codigoproducto }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="codigobarra">
                    <th mat-header-cell *matHeaderCellDef>Cod. Barra</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.codigobarra }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="descripcionProducto">
                    <th mat-header-cell *matHeaderCellDef>Descripción</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.descripcionProducto }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="unidad">
                    <th mat-header-cell *matHeaderCellDef>Unidad</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.unidad }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="stockL">
                    <th mat-header-cell *matHeaderCellDef>stock L.</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.stockL }}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>

                <mat-paginator

                  [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements"
                >
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
</div>
