.carousel {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-items {
  height: 100%;
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  height: 100%;
  flex: 0 0 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="radio"] {
  display: none;
}

#slide1:checked ~ .carousel-items {
  transform: translateX(0%);
}

#slide2:checked ~ .carousel-items {
  transform: translateX(-100%);
}

#slide3:checked ~ .carousel-items {
  transform: translateX(-200%);
}

#slide4:checked ~ .carousel-items {
  transform: translateX(-300%);
}

#slide5:checked ~ .carousel-items {
  transform: translateX(-00%);
}

#slide1:checked ~ .carousel-dots .dot:nth-child(1),
#slide2:checked ~ .carousel-dots .dot:nth-child(2),
#slide3:checked ~ .carousel-dots .dot:nth-child(3),
#slide4:checked ~ .carousel-dots .dot:nth-child(4),
#slide5:checked ~ .carousel-dots .dot:nth-child(5) {
  background-color: rgb(0, 187, 178);
}
