<section class="carousel">
  <div class="carousel-container">
    <input type="radio" id="slide1" name="carousel" checked />
    <input type="radio" id="slide2" name="carousel" />
    <input type="radio" id="slide3" name="carousel" />
    <input type="radio" id="slide4" name="carousel" />

    <div class="carousel-items">
      <div class="carousel-item">
        <img
          [src]="imagen_a"
          alt="Imagen de prueba 1"
          width="400"
          height="400"
        />
      </div>
      <div class="carousel-item">
        <img
          [src]="imagen_b"
          alt="Imagen de prueba 2"
          width="400"
          height="400"
        />
      </div>
      <div class="carousel-item">
        <img
          [src]="imagen_c"
          alt="Imagen de prueba 3"
          width="400"
          height="400"
        />
      </div>
      <div class="carousel-item">
        <img
          [src]="imagen_d"
          alt="Imagen de prueba 4"
          width="400"
          height="400"
        />
      </div>
      <div class="carousel-item">
        <img
          [src]="imagen_e"
          alt="Imagen de prueba 5"
          width="400"
          height="400"
        />
      </div>
    </div>

    <div class="carousel-dots">
      <label for="slide1" class="dot"></label>
      <label for="slide2" class="dot"></label>
      <label for="slide3" class="dot"></label>
      <label for="slide4" class="dot"></label>
    </div>
  </div>
</section>
