
<div
  class="offcanvas offcanvas-end ancho first-offcanvas"
  tabindex="-1"
  id="disenoajustes"
>
  <div class="offcanvas-header bg-[#f1f3f5] pb-1">
    <div
      id="hs-header-base"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block"
      aria-labelledby="hs-header-base-collapse"
    >
      <div class="overflow-hidden">
        <div
          class="py-0 md:py-0 flex flex-col md:flex-row md:items-center gap-0.5 md:gap-1"
        >
          <div class="grow">
            <div
              class="flex flex-col md:justify-start md:items-center gap-0.5 md:gap-1"
            >
              <div class="flex justify-between w-full">
                <div class="flex items-center justify-center gap-4">

                <h1 class="mb-2">Detalle ajustes</h1>
                </div>
                <button
                class="text-gray-800 hover:text-gray-600 "
                data-bs-toggle="offcanvas"
                data-bs-target="#disenoreporte"
                aria-controls="offcanvasRight"
              >
                <mat-icon>close</mat-icon>

              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-body pt-1 h-full overflow-hidden flex flex-col">


    <tabla-ajustes-inventario-datos [listaProductos]="detalleProductos" [inventarioSeleccionado]="citaSeleccionada" />

  </div>
</div>
