<div class="offcanvas offcanvas-end ancho" tabindex="-1" id="hs-detalle-excel_preview" aria-labelledby="hs-detalle-excel_preview">
  <div class="offcanvas-header bg-fondo-detalle">
    <h5 class="offcanvas-title titulo-detalle" id="hs-detalle-excel_preview">Preview <span>Datos</span></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body max-h-full overflow-y-auto">
    <div class="p-4 ">
      <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
        <thead class="bg-gray-100 dark:bg-neutral-800">
          <tr>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Almacen
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Sucursal
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Zona
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Pasillo
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Rack
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Ubicación
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Esagrupado
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              CodigoGrupo
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              CodigoProducto
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              CodigoBarra
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Descripción Producto
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Unidad
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Stock L
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Stock F
            </th>
            <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-neutral-300">
              Stock Resultante
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
          @for (item of excelData; track $index)
          {
            <tr class="hover:bg-gray-50 dark:hover:bg-neutral-800">
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.almacen }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.sucursal }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.zona }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.pasillo }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.rack }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.ubicacion }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.esagrupado }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.codigogrupo }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.codigoproducto }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.codigobarra }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.descripcionproducto }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.unidad }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.stockL }}
              </td>
              <td class="px-6 py-1.5 whitespace-nowrap text-sm text-gray-900 dark:text-neutral-100">
                {{ item.stockF }}
              </td>
            </tr>
          }

        </tbody>
      </table>
    </div>
  </div>
</div>
