.ancho {
  width: 100rem;
}

.container-datos {
  display: flex;
  height: calc(100vh - 8rem);
}

.container-datos .apartado-filtros {
  width: 16rem;
  height: 100%;
  overflow-y: auto;
}

.container-datos .apartado-productos {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Evita que afecte el scroll de los filtros */
}

.container-datos .apartado-productos design-page-tabla-datos {
  flex-grow: 1;
  overflow: auto; /* Scroll solo en la tabla */
}


.apartado-stats {
  display: flex;
  flex-direction: column;
}
