.ancho {
  width: 100vw;
}

.apartado-filtros {
  display: flex;
  gap: .6rem;
}

.apartado-filtros h1{
  color: rgb(27, 27, 27);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0;
}

.apartado-filtros p{
  color: rgb(131, 131, 131);
  font-weight: 300;
  font-size: .8rem;
  margin-bottom: 0;
}

.apartado-filtros hr{
  margin: .8rem 0;
}

.apartado-filtros .opciones {
  height: auto;
  display: flex;
  background-color: #e9e9e9;
  border-radius: 10px;
  padding: .1rem;
}





/* Estilos para el scrollbar en navegadores Webkit (Chrome, Edge, Safari) */
.offcanvas-body::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
  border-radius: 10px; /* Redondear scrollbar */
}

.offcanvas-body::-webkit-scrollbar-track {
  background: #e0e6ed; /* Color del fondo del scrollbar */
  border-radius: 10px; /* Bordes redondeados */
}

.offcanvas-body::-webkit-scrollbar-thumb {
  background: #20477E; /* Color del thumb (barra desplazadora) */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #e0e6ed; /* Agrega un borde claro alrededor */
}

.offcanvas-body::-webkit-scrollbar-thumb:hover {
  background: #16325A; /* Color al pasar el mouse */
}

/* Para Firefox */
.offcanvas-body {
  scrollbar-width: thin;
  scrollbar-color: #20477E #e0e6ed;
}



.apartado-stats {
  width: 13rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.15);
}
.opciones {
  display: flex;
  gap: 8px; /* Espaciado entre botones */
}

.opcion {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.opcion.selected {
  background-color: white !important;
}


.button-exportar {
  width: 100%;
  background-color: #00b89a;
  padding: .8rem 1rem;
  border-radius: 10px;
}


.icon-pdf {
  font-size: 3rem;
}
