<!-- Componente 1: Selección de opciones -->
<div
  class="offcanvas offcanvas-end ancho first-offcanvas"
  tabindex="-1"
  id="disenoreporte"
>
  <div class="flex p-4 h-full fondo">
    <!-- ==================================================================================== -->
    <!-- PARTE IZQUIERDA - MENU REPORTE -->
    <!-- ==================================================================================== -->
    <div class="w-[40%] h-full grid place-content-center">
      <h2 class="text-xs mb-0 font-semibold text-gray-700">
        Seleccione un reporte para el inventario:
      </h2>
      <h2 class="text-base font-bold text-[#20477E]">
        {{ citaSeleccionada.descripcion }}
      </h2>
      <div
        data-bs-dismiss="offcanvas"
        class="border border-[#0158DD] w-[6rem] h-[2rem] rounded-lg text-white grid place-content-center hover:cursor-pointer"
      >
        <button
          type="button"
          class="btn-close text-white"
          aria-label="Close"
        ></button>
      </div>
    </div>

    <!-- ==================================================================================== -->
    <!-- PARTE DERECHA - MENU REPORTE -->
    <!-- ==================================================================================== -->
    <div class="w-[60%] grid place-content-center">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 w-full gap-[1px]"
      >
        <button
          class="button-opcion"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#disenoreportedata"
          aria-controls="offcanvasRight"
          (click)="ObtenerDetalleInventariosPDF(0, 2, 2, 0)"
        >
          <p class="font-semibold text-[#20477E] group-hover:text-white">
            Total de registros
          </p>
          <p
            class="text-[3rem] font-bold text-[#20477E] group-hover:text-white"
          >
            {{ TotalRegistros }}
          </p>
        </button>

        <button
          class="button-opcion"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#disenoreportedata"
          aria-controls="offcanvasRight"
          (click)="ObtenerDetalleInventariosPDF(3, 0, 2, 0)"
        >
          <p class="text-[#00D1AE] font-semibold text-center">
            Registros con faltantes
          </p>
          <p class="text-[3rem] font-bold text-[#00D1AE]">
            {{ RegistrosFaltantes }}
          </p>
        </button>

        <button
          class="button-opcion"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#disenoreportedata"
          aria-controls="offcanvasRight"
          (click)="ObtenerDetalleInventariosPDF(2, 0, 2, 0)"
        >
          <p class="text-[#0158DD] font-semibold text-center">
            Registros sobrantes
          </p>
          <p class="text-[3rem] font-bold text-[#0158DD]">
            {{ RegistrosNoFaltantes }}
          </p>
        </button>

        <button
          class="button-opcion"
          data-bs-toggle="offcanvas"
          data-bs-target="#disenoreportedata"
          aria-controls="offcanvasRight"
          (click)="ObtenerDetalleInventariosPDF(0, 1, 2, 0)"
        >
          <p class="text-[#0158DD] font-semibold text-center">
            Nuevos registros
          </p>
          <p class="text-[3rem] font-bold text-[#0158DD]">
            {{ NuevosRegistros }}
          </p>
        </button>

        <button
          class="button-opcion"
          data-bs-toggle="offcanvas"
          data-bs-target="#disenoreportedata"
          aria-controls="offcanvasRight"
          (click)="ObtenerDetalleInventariosPDF(1, 2, 2, 0)"
        >
          <p class="text-[#20477E] font-semibold text-center">
            Conteos exactos
          </p>
          <p class="text-[3rem] font-bold text-[#20477E]">
            {{ ConteosExactos }}
          </p>
        </button>

        <button
          class="button-opcion"
          data-bs-toggle="offcanvas"
          data-bs-target="#disenoreportedata"
          aria-controls="offcanvasRight"
          (click)="ObtenerDetalleInventariosPDF(0, 0, 0, 1)"
        >
          <p class="text-[#20477E] font-semibold text-center">
            Items Ajustados
          </p>
          <p class="text-[3rem] font-bold text-[#20477E]">
            {{ ItemsAjustados }}
          </p>
        </button>

        <button
          class="button-opcion"
          data-bs-toggle="offcanvas"
          data-bs-target="#disenoreportedataAjuste"
          aria-controls="offcanvasRight"
          (click)="ObtenerDetalleInventariosPDF(0, 2, 1, 0)"
        >
          <p class="text-[#20477E] font-semibold text-center">
            Cantidades ingresados manualmente
          </p>
          <p class="text-[3rem] font-bold text-[#20477E]">
            {{ EditadosManual }}
          </p>
        </button>

        <button disabled class="button-opcion_vacias"></button>
        <button disabled class="button-opcion_vacias"></button>
      </div>
    </div>
  </div>
</div>

<!-- ==================================================================================== -->
<!-- PARTE DATA - TABLA DATOS -->
<!-- ==================================================================================== -->
<div
  class="offcanvas offcanvas-end ancho first-offcanvas"
  tabindex="-1"
  id="disenoreportedata"
>
  <div class="offcanvas-header bg-[#fff] pb-1">
    <div
      id="hs-header-base"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block"
      aria-labelledby="hs-header-base-collapse"
    >
      <div class="overflow-hidden">
        <div
          class="py-0 md:py-0 flex flex-col md:flex-row md:items-center gap-0.5 md:gap-1"
        >
          <div class="grow">
            <div
              class="flex flex-col md:justify-start md:items-center gap-0.5 md:gap-1"
            >
              <div class="flex justify-between w-full align-center">
                <div class="flex items-center justify-center gap-3">
                  <button
                    class="text-[#fff] hover:text-[#006554] bg-[#00CBA8] w-[2rem] h-[2rem] rounded-lg align-center"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#disenoreporte"
                    aria-controls="offcanvasRight"
                  >
                    <mat-icon>chevron_left</mat-icon>
                  </button>
                  <h1 class="mb-0 text-[#0163D6] font-bold">
                    {{ titulosOpciones }}
                  </h1>
                </div>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="Buscar producto"
                  #input
                  class="text-gray-800 w-[40rem] border h-12 rounded-lg bg-transparent px-4 placeholder-gray-400 focus:outline-none"
                />

                <div class="container-datos">
                  <div class="apartado-filtros">
                    <div class="opciones">
                      <div
                        class="opcion flex-1 boder-target rounded-lg p-2 gap-2 active:bg-white flex justify-center items-center text-center transition-transform transform cursor-pointer"
                        [class.selected]="selectedOption === 'excel'"
                        (click)="selectOptionEXCEL('excel')"
                      >
                        <icon-excel />
                        <span
                          class="text-xs uppercase text-slate-500 font-semibold"
                        >
                          EXCEL
                        </span>
                      </div>

                      <div
                        class="opcion flex-1 boder-target rounded-lg p-2 gap-2 active:bg-white flex justify-center items-center text-center transition-transform transform cursor-pointer"
                        [class.selected]="selectedOption === 'pdf'"
                        (click)="selectOptionPDF('pdf')"
                      >
                        <icon-pdf />
                        <span
                          class="text-xs uppercase text-slate-500 font-semibold"
                        >
                          PDF
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-body pt-1 h-full overflow-hidden flex flex-col">
    <section class="h-full max-h-screen">
      <div class="max-w-[98vw] mx-auto h-full">
        <div class="flex flex-col h-full">
          <div
            class="-m-1.5 overflow-x-auto scroll-table h-full container-datos-page"
          >
            <div class="p-1.5 min-w-full inline-block align-middle h-full">
              <div
                class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-auto"
              >
                <div class="mat-elevation-z8 relative p-4">
                  <filtros-checkbox-tabla
                    class="filtros"
                    (columnasSeleccionadas)="
                      recibirColumnasSeleccionadas($event)
                    "
                  />
                  <div class="">
                    <div class="">
                      <table mat-table [dataSource]="dataSource" matSort>
                        <!-- =================================================================================== -->
                        <!-- codigoproducto -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="codigoproducto">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            codigoproducto
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.codigoproducto }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- codigobarra -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="codigobarra">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            codigobarra
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.codigobarra }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- descripcionProducto -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="descripcionProducto">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            descripcionProducto
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.descripcionProducto }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- unidad -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="unidad">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            unidad
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                'bg-slate-50e text-white': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.unidad }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- stockL -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="stockL">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            stockL
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.stockL }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- stockF -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="stockF">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            stockF
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.stockF }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- Rack -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="stockresultante">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            stockresultante
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span
                                class="text-sm text-gray-600"
                                [ngClass]="{
          ' text-red-600': row.stockresultante < 0,
          ' text-blue-700': row.stockresultante > 0,
          ' text-gray-600': row.stockresultante == 0,
        }"
                              >
                                {{ row.stockF - row.stockL }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- Ajuste -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="ajuste">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Ajuste
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span
                                class="text-sm text-gray-600"
                                [ngClass]="{
          ' text-red-600': row.ajuste < 0,
          ' text-blue-700': row.ajuste > 0,
          ' text-gray-600': row.ajuste == 0,
        }"
                              >
                                {{ row.ajuste }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- Almacén -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="almacen">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Almacén
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.almacen }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- Sucursal -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="sucursal">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Sucursal
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.sucursal }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- Zona -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="zona">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Zona
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.zona }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- Pasillo -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="pasillo">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Pasillo
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.pasillo }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- rack -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="rack">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Rack
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.rack }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- ubicacion -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="ubicacion">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Ubicación
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.ubicacion }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- esagrupado -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="esagrupado">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            esagrupado
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.esagrupado }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- codigogrupo -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="codigogrupo">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            codigogrupo
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button
                              class="px-6 py-3 flex gap-2 align-center"
                              [ngClass]="{
                                'bg-white text-white': row.esnuevo == 0,
                                '': row.esnuevo == 1
                              }"
                            >
                              <span class="text-sm text-gray-600">
                                {{ row.codigogrupo }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <!-- =================================================================================== -->
                        <!-- DESCRIPCIÓN -->
                        <!-- =================================================================================== -->
                        <ng-container matColumnDef="descripcionajuste">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Descripción ajuste
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <button class="px-6 py-3 flex gap-2 align-center">
                              <span
                                class="text-sm text-gray-600 dark:text-neutral-400"
                              >
                                {{ row.descripcionajuste }}
                              </span>
                            </button>
                          </td>
                        </ng-container>

                        <tr
                          mat-header-row
                          *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- =================================================================================== -->
          <!-- PAGINACIÓN INVENTARIO -->
          <!-- =================================================================================== -->
          <!-- <mat-paginator [pageSizeOptions]="[100]" aria-label="Select page of users" /> -->
          <mat-paginator
            [pageSizeOptions]="[100]"
            showFirstLastButtons
            class="mt-2"
          >
          </mat-paginator>
        </div>
      </div>
    </section>
  </div>
</div>

