.ancho {
  width: 100rem;
}

.container-datos {
  display: flex;
  height: calc(100vh - 8rem);
}

.container-datos .apartado-filtros {
  width: 16rem;
  height: 100%;
  overflow-y: auto;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15);
}

/* Personalización del scrollbar */
.container-datos .apartado-filtros::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.container-datos .apartado-filtros::-webkit-scrollbar-track {
  background: #f0f0f0; /* Fondo del scroll (gris claro) */
  border-radius: 4px;
}

.container-datos .apartado-filtros::-webkit-scrollbar-thumb {
  background: #00D1AE; /* Color del thumb (barra móvil) */
  border-radius: 4px;
}

.container-datos .apartado-filtros::-webkit-scrollbar-thumb:hover {
  background: #00b89a; /* Color al pasar el mouse */
}


.container-datos .apartado-productos {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container-datos .apartado-productos design-page-tabla-datos {
  flex-grow: 1;
  overflow: auto;
}

/* Personalización del scrollbar */
.container-datos .apartado-productos design-page-tabla-datos::-webkit-scrollbar {
  height: 8px; /* Ancho de la barra de desplazamiento */
}

.container-datos .apartado-productos design-page-tabla-datos::-webkit-scrollbar-track {
  background: #f0f0f0; /* Fondo del scroll (gris claro) */
  border-radius: 4px;
}

.container-datos .apartado-productos design-page-tabla-datos::-webkit-scrollbar-thumb {
  background: #20477E; /* Color del thumb (barra móvil) */
  border-radius: 4px;
}

.container-datos .apartado-productos design-page-tabla-datos::-webkit-scrollbar-thumb:hover {
  background: #20477E; /* Color al pasar el mouse */
}


.apartado-stats {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.15);
}
