<div class="p-4 sm:p-7">
  <div class="text-center">
    <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">
      Login
    </h1>
    <p class="mt-2 text-sm text-gray-600 dark:text-neutral-400">
      Ingresa a tu sistema de control de inventario
    </p>
  </div>

  <div class="mt-1">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="grid gap-y-4">
        <div>
          <label for="rucempresa" class="block text-sm mb-2 dark:text-white"
            >RUC Empresa</label
          >
          <div class="relative">
            <input
              type="text"
              id="rucempresa"
              formControlName="rucempresa"
              class="py-2 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              required
              aria-describedby="rucempresa-error"
            />
          </div>
        </div>

        <div>
          <label for="username" class="block text-sm mb-2 dark:text-white"
            >Usuario</label
          >
          <div class="relative">
            <input
              type="text"
              id="username"
              formControlName="idUsuario"
              class="py-2 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              required
              aria-describedby="username-error"
            />
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm mb-2 dark:text-white"
            >Contraseña</label
          >
          <div class="relative">
            <input
              type="password"
              id="password"
              formControlName="contrasenia"
              class="py-2 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              required
              aria-describedby="password-error"
            />
          </div>
        </div>

        <button
          type="button"
          class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
        >
          Ingresar
        </button>
      </div>
    </form>
  </div>
</div>

<div [class]="claseErrorVisible" role="alert">
  {{ errorMessage }}
</div>
